*{
    box-sizing: border-box;
    font-family: 'Luckiest Guy', cursive;
}

body{
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
}

#cajaFormulario{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 52px;
    height: 468px;
    box-sizing: border-box;
    padding-top: 36px;
    width: 507px;
    margin:auto;
    margin-top: -34px;
    font-size:25px;
    line-height: 87.1px;
}


input{
    width:450px;
    text-align: left;
    color:green;
    border-radius: 10px;
    display: inline-block;
    margin-top:20px;
}

#checkbox{
    background-color:red;
    margin-right: 10px;
    display:inline;
}



div input{
    width:74%;
    text-align: center;
    color:rgb(34, 128, 0);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-top:20px;
    margin-bottom: 20px;;
    height:90px;
    padding: 10px;
    border-radius: 90px;
}
#link{
    text-align: left;
    color: black;
    left:0;
    font-size: 20px;
    padding-left: 32px;
    height: 50px;
    padding-top: 0;
    padding-bottom: 10px;
    line-height:44px; 
}
a {
    color: #2a282ac7;
    text-decoration: underline;
}
div div a{
    color:#fff;
    padding-top: 8px;
    font-size:29px;
}
.flex-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}
.flex-container div{
   
    color:white;
    text-align:center;
    padding:1%;
    margin:1% 1% 1% 1%;
}
article{
    margin-top:50px;
}
div img{
    width:180px;
}

.container-botton{
    display:flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    background-color:#ffffff42;
    align-content: space-around;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60px;
    border:1px solid rgba(0, 0, 0, 0.549);
    padding-top:30px;
}

#caja-hija{
    color: black;
    margin-top:auto;
    display:flex;
    margin-right:2%;
    margin-top:1%;
    font-size:20px;
    text-decoration: none;
    margin-left:10%;
}