*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #E6E6E6;
    font-family: 'calibri';
}

.Navbar{
    width: 1080pt;
    margin: 0 auto;
}

header {
    background: black;
    width: 100px;
    clear: both;
    content:'';
    display: table;
}

nav{
    float: right;
}

/*img{
    width: 81px;
    height: 60px;
    float: left;
    padding: 1px;
    padding-left: 10px;
}*/

.logo { /*Clase para el logo de Rabbion en navbar*/
    width: 81px;
    height: 60px;
    float: left;
    padding: 1px;
    padding-left: 10px;
  }

nav ul li{
    list-style: none;
    margin-left: 75px;
    padding: 20px 0;
    float: left;
}

nav ul li a{
    text-decoration: none;
    color: #e7e7e7;
    font-weight: bold;
    margin: 119px;
    font-size: 15pt;
}

nav ul li a:hover{
    color: #d7edc6;

}

.Entrada{
    padding: 89px 0px 26px 108px;
    margin: 16px 233px 16px 330px;
 }
#Encuéntranos{
    background-color: #eef7e7;
    color: #000000;
    width: 330px;
    height: 90px;
    border-radius: 5px;
    padding: 17px 72px;
    margin-left: 110px;
    margin-top: 123px;
    font-size: 16px;
}
#Redes{
    background-color: #d4eac3;
    color: #000000;
    width: 0px;
    height: 39px;
    border-radius: 1px;
    padding: 89px 162px;
    margin-left: 113px;
    margin-top: 1px;
    font-size: 10px;
}
#cuadrito1{

    margin: 94px 143px 4px 301px;
}

h3{
    height: 51px;
    margin: -76px 78px 68px -23px;
    /* float: right; */
    padding: 0px 73px 45px 0px;
 }

 #Info{
    background-color: #eef7e7;
    color: #000000;
    width: 330px;
    height: 90px;
    float: right;
    border-radius: 5px;
    padding: 15px 72px;
    margin-top: -403px;
    font-size: 16px;
    margin-right: 109px;
 }

 #enlaces{
    background-color: #d4eac3;
    color: #000000;
    width: 0px;
    height: 39px;
    border-radius: 1px;
    padding: 86px 165px;
    float: right;
    margin-top: -314px;
    font-size: 10px;
    margin-right: 110px;
}

#text{
    height: 58px;
    margin: 4px -187px 0 -123px;
    float: left;
    font-size: 16px;
}

img-{
    width: 93px;
    height: 62px;
    float: right;
    padding: 13px 35px 17px 15px;
}

.img-redes{ /*Clase para las imagenes de los logos*/
    width: 93px;
    height: 62px;
    float: right;
    padding: 13px 35px 17px 15px;
    margin: -95px 23px 144px -106px;
}


#cuadrito2{
    margin: 1px 135px -22px 193px;
}

img_{
    width: 93px;
    height: 62px;
    float: right;
    padding: 13px 35px 17px 15px;
}
.img_playstore{ /*Clase para las imagenes de la Play store*/
    width: 127px;
    height: 119px;
    float: right;
    padding: 77px 0px 5px 29px;
    margin: -139px 23px 144px -106px;
}
.img_app_store{ /*Clase para las imagenes de la Play store*/
    width: 112px;
    height: 68px;
    float: right;
    padding: 6px 7px 17px 15px;
    margin: -75px -108px 0 0;
}

section h3 a{
    text-decoration: none;
    color: black;
    /* font-weight: bold; */
    /* margin: 155px; */
    font-size: 16px;
}

section h3 a:hover{
    color: #7ac241;
}

/*table{
     width: 100%;
     border-radius:5px ;
 }*/

 /*td{
    border: 0.2px solid #b1dcb3;
    background-color: #d4eac3;
    color: #000000;
    width: 305px;
    height: 100px;
    left: 62px;
    top: 51px;
    border-radius: 5px;
    padding: 17px 72px;
    font-size: 16px;
 }
 th{
    border: 0.2px solid #6bbc7b;
    background-color: #eef7e7;
    color: #000000;
    width: 305px;
    height: 61px;
    left: 62px;
    top: 51px;
    border-radius: 5px;
    padding: 17px 72px;
    font-size: 16px;
 }
table{
    border-spacing: 290px 0px;
    padding: 52px 0px;
    align-items: left;
}*/
 