*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
  
    --body-color:#eaeaea;
    --sidebar-color: #dadada;
    --primary-color: #c1e1b1;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: black;
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: black;
}

 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 74px;
}

.sidebar li{
    height: 99px;
    list-style: none;
    display: flex;
    align-items: center;
    margin: -47px 0 64px -4px;
    padding: 22px 0 49px 0px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: black;
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}


.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
    color: black;
    font-size: 22px;
    font-weight: bold;
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: black;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: black;
}

.slidebar li a:visited{
    background-color: var(--primary-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}



.barrita{
    width: 1076pt;
    margin: 0 0 -6px -1px;
    padding: 21px 0 15px 0;
    background-color: #dadada;
}

img.logo{
    margin-right: 96px;
    width: 84px;
    height: 61px;
    float: right;
    padding: 3px;
    padding-left: 0;
    margin: -51px 40px 0 0;
}

h2{
    float: left;
    margin: -4px 0 0 338px;
}
 h3{
    padding: 0px 0 10px 71rem;
    margin: 0 0 -5px -1px;
 }

 .flex-container{
    display:flex;
    background-color:rgba(255, 255, 255, 0.104);
    flex-direction: column;
    justify-content:space-between;
}

.flex-container .div-cajas{
    background-color: #c1e1b1;
    width: 53%;
    margin: 70px 31px 0 394px;
    border-radius: 17px;
    border: 1px solid #eee;
    
}

#cajitas{
    font-size: 26px;
    margin: 11px 0 0 48px;
}


.Check-button{
    background-color: #90be62;
    border-color: #90be62;
    font-weight: bold;
    color: white;
    margin-top: auto;
    margin-right: 4%;
    margin-bottom: 2%;
    font-size: 16px;
    text-decoration: none;
    border-color: #90be62;
    border-radius: 6px;
    height: 32px;
    width: 99px;
    padding: 0px 5px 6px 2px;
   
}


.fa-solid.fa-comments{
    margin-left: -64%;
    width: 96px;
    height: 96px;
    vertical-align: middle;
    margin-top: 10%;
    margin-bottom: 0%;
    font-size: 67px;
    color: #33184e;

}



.fa-solid.fa-inbox{
    margin-left: -59%;
    width: 104px;
    height: 98px;
    vertical-align: middle;
    margin-top: 10%;
    margin-bottom: 2%;
    font-size: 69px;
    color: #434837;

}

.div-cajas{
  display:flex;
  text-align: center;
  justify-content:space-between;
}
.div-cajas-hijas {
    display:flex;
    text-align: center;
    flex-direction: column;
    justify-content:center;
    font-size:15px;
}